<template name="layout">
  <div class="container">
    <div class="todo header">
      <div class="headline"><h5>Search past CS 61B materials</h5></div>
            <form>
      <input type = "checkbox" id = "practice" name = "myForm" value = "practice" checked>Practice
      <input type = "checkbox" id = "slides" name = "myForm" value = "slides" checked>Slides
      <input type = "checkbox" id = "notes" name = "myForm" value = "notes" checked>Notes
      <input type = "checkbox" id = "labs" name = "myForm" value = "labs" checked>Labs

      <!-- <input type = "submit" value = "SUBMIT"> -->
   </form>
      <div class="search-box">
        <input type="search" class="search-field todo-search-field" placeholder="Starting typing...">
        <span class="search-icon fui-search"></span>
      </div>
      
        <ul class="links">
        {{#each links}}
          {{> link}}
        {{/each}}
      </ul>


    </div>
  </div>
</template>


<!-- <template name = "myTemplate">
   
</template> -->

