<template name="layout">
  <div class="container">
    <div class="todo header">
      <div class="headline"><h5>Search past CS 61B materials</h5></div>

      <div class="search-box">
        <input type="search" class="search-field todo-search-field" placeholder="Starting typing...">
        <span class="search-icon fui-search"></span>
      </div>

      <div class="type-filters">
        <label class="checkbox">
          <input type="checkbox" id="practice" value="practice" checked="checked">Practice
        </label>
        <label class="checkbox">
          <input type="checkbox" id="notes" value="notes" checked="checked">Notes
        </label>
        <label class="checkbox">
          <input type="checkbox" id="slides" value="slides" checked="checked">Slides
        </label>
        <label class="checkbox">
          <input type="checkbox" id="lab" value="lab" checked="checked">Lab
        </label>
      </div>
      
        <ul class="links">
        {{#each links}}
          {{> link}}
        {{/each}}
      </ul>
    </div>
  </div>
</template>
